body {
  background: #2C2B3D;
  margin: 0;
}

.page {
  margin: auto;
  height: 100vh;
  width: 1280px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 71px 99px 0;

}

ul,
a {
  display: flex;
  align-items: center;
  gap: 64px;
  list-style: none;
  color: #FFF;
  text-decoration: none;
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 28px;
  margin: 0;
  padding: 0;

}


main {
  display: flex;

  justify-content: space-between;
  margin-top: 101px;
  margin-left: 99px;
  margin-right: 89px;
}

section span {
  color: #00BFA6;
  font-weight: bold;

}


.text {
  text-align: center;
  color: #fff;

}

.text h1 {
  font-size: 36px;
  line-height: 40px;
  font-family: 'JetBrains Mono', monospace;
  margin-bottom: 59px;
  margin-top: 0;

}

.text p {
  font-size: 16px;
  line-height: 28px;
  color: #C2C2C2;
  font-family: 'Open Sans', sans-serif;

}

footer {
  font-family: 'JetBrains Mono', monospace;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;

  margin-top: 157px;
  
}

footer a {
  display: inline;
}

#line {
  margin-bottom: 27px;
}

#cadeado {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 20px;
}